# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Logs
log/
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Python packaging/build
build/
dist/
*.egg-info/