# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Logs
log/
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Python packaging/build
build/
dist/
*.egg-info/

# App runtime data and logs (keep locally, ignore in Git)
app-code/data/
app-code/log/
app-code/Bookmarks/
app-code/SideApps/

# backup case just in case
data/
log/
Bookmarks/
SideApps/